<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <p>This content is served to you by....</p>
    <h2>The server</h2>
    <h1> The weather in {{city}} is {{weather}} </h1>
    <a href="https://github.com/VincentK16"  target="_blank">My GitHub</a>
    <img src="./../static/ubt.jpg" alt="UBT">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Fb_fVNT3aDo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </body>
</html>
